*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins-Medium;
    background-color: transparent;
}

@font-face {
    font-family: Poppins-Medium;
    src: url(Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(Poppins-Light.ttf);
}

.donatebg{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #FFDCC7;
}
nav{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;
    margin-left: 2%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 480;
}
.donate_btn{
    display: inline-block;
    text-decoration: none;
    padding: 12px 35px;
    color: black;
    background-image: linear-gradient(to right, #FFBD59,#FDA067);
    border-radius: 30px;
    margin-right:35px;
    font-size: 20px;
    font-weight: 450;
}
.content{
    margin-top: 4%;
    position: relative;
    color: #323131;
    background-color: transparent;
}
.content h1{
    font-size: 50px;
    margin-left: 18%;
    font-family: Poppins-Medium;
    background-color: transparent;
}
.content p{
    font-family: Poppins-Light;
    font-size: 20px;
    width: 350px;
    line-height: 30px;
    margin-top: 2%;
    margin-left: 12.5%;
    position: absolute;
    background-color: transparent;
}
.donatebg_img{
    width: 560px;
    margin-top: 10%;
    margin-left: 4%;
    position: absolute;
    opacity: 0.8;
}
.contacttag{
    text-decoration: none;
    color: inherit;
}
/* edited from https://drive.google.com/file/d/1NzY4n7n42X0gHHURPhcPL5CzAFeUEs8U/view */
.container{
    display: flex;
    margin-left: 45%;
    align-items: right;
    padding:25px;
    margin-top: -8.2%;
}
.container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 10px;
}
.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
.container form .row .col{
    flex:1 1 250px;
}
.container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    font-family: Poppins-Medium;
}
.container form .row .col .inputBox{
    margin:15px 0;
}
.container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
    font-family: Poppins-Medium;
}
.container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #cccccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
    font-family: Poppins-Light;
}
.container form .row .col .flex{
    display: flex;
    gap: 15px;
}
.container form .row .col .flex .inputBox{
    margin-top: 5px;
}
.container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px black);
}
.container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: transparent;
    color:black;
    cursor: pointer;
    border: none;
}
.container form .submit-btn:hover{
    color: #6b6b6b;
}
.anim{
    opacity:0;
    transform: translateX(-60px);
    animation: moveright 0.8s linear forwards;
}
@keyframes moveright{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.anim2{
    opacity:0;
    transform: translateX(60px);
    animation: moveleft 0.8s linear forwards;
}
@keyframes moveleft{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}